.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.title{
    text-align: center;
    color: rgba(255, 122, 122, 1);
    font-family: Cursive;
    font-size: 45px;
}
.input-search {
    width: 70%;
    margin:  auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 12px 20px;
    border: 1px solid rgba(255, 122, 122, 1);
    border-radius: 4px;
    box-sizing: border-box;
  }
  .reslut{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
   }


.image{
    width: 30%;
    height: 300px;
    margin-bottom: 1rem;
    margin-top: 2%;
}
.clearBtn{
    background-color: rgba(255, 122, 122, 1);
  width: 25%;
    padding: 10px 10px;
    border: none;
    border-radius: 25px solid #ddd;
   margin-left: 35%;
}

.myBtn{
    display: none;
}
.autocomplete-items {
    position:absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 38%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    background-color: rgba(255, 122, 122, 1);;
  }

  #autoCompleteInput{
      padding: 1rem;
      width: 100%;
      height: 100%;
      background-color: white;
      border: none;
  }
  #autoCompleteInput:hover{
    background-color: rgba(255, 122, 122, 1);
}

@media (max-width: 1200px) {
  
}
@media (max-width: 900px) {
  
    .image{
     width: 49%;
     margin-left: 1%;
    }
    .title{
        font-size: 40px;
    }
    .clearBtn{
        background-color: rgba(255, 122, 122, 1);
      width: 50%;
     margin-left: 25%;
    }
   
}
  
  @media (max-width: 600px) {
    .image{
     width: 100%;
    }
    .title{
        font-size: 30px;
    }
    
}

